*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background:linear-gradient(50deg, #ff123d, #aa763b); */
    background-color: cadetblue;
    background-image: url(https://marketplace.canva.com/EAFU5UU2rLM/2/0/1600w/canva-pink-blue-gradient-funny-retro-zoom-virtual-background-OmLuLTTdrHE.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}
h1{
    font-size: 5rem;
    /* color: antiquewhite; */
    color: rgb(174, 66, 84);
}
.container textarea{
    height: 10rem;
    width: 30rem;
    margin-top: 4%;
    padding: 5px;
    font-size: 18px;
    /* resize: none; */
    border-radius: 5px;
}

#listenBtn{
    margin-top: 2rem;
    font-size: 18px;
    height: 4.5rem;
    width: 10rem;
    border-radius: 45%;
    /* background-color: burlywood; */
    background-color: rgb(209, 99, 119);
    /* color: rebeccapurple; */
    color: white;
}
#listenBtn:hover{
    background-color: rebeccapurple;
    /* color: burlywood; */
    color: rgb(212, 118, 133);
}
i{
    color: rebeccapurple;
}